html, body {
    margin: 0;
    /* padding-top: 65px; */
}

body::-webkit-scrollbar {
    display: none;
}

.container-1 {
    width: 100%;
    height: 80vh;
    background-color: #1a1a1d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4e4e50;
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    margin-top: 10vh;
}

.container-1 span {
    color:#c3073f;
    cursor: pointer;
    transition: 0.5s;
}

.container-1 span:hover {
    transform: scale(1.1);
}

.container-1-footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1d;
}

.container-1-footer svg {
    transition: 0.5s;
}

.container-1-footer svg:hover {
    fill:#fff;
    transform: scale(1.2);
}

.navbar {
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: #1a1a1d;
    position: fixed;
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #4e4e50;
    font-size: 20px;
}

.home-btn {
    color: #c3073f;
}

.navbar-elements {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: 5%;
    font-family: 'Montserrat', sans-serif;
    color: #4e4e50;
    align-items: center;
}

.navbar-elements div {
    transform: scale(1);
    transition: 0.2s;
}
.navbar-elements div:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: #fff;
}

.navbar-elements div:active {
    transform: scale(1);
}

.contact-btn {
    border: 2px solid #c3073f;
    border-radius: 50px;
    color: #c3073f;
    display: flex;
    width: auto;
    padding: 10px;
    align-items: center;
    margin-left: 20px;
}

.container-2 {
    width: 100%;
    height: 100vh;
    background-color: #4e4e50;
}